body{
    margin: 0px;
    font-family: 'Press Start 2P', cursive;
    overflow-x: hidden;
}

header{
    text-align: center;
    background-color: #749BA8;
    height: 70px;
    line-height: 70px;
    border-bottom: 3px solid black;
}

header h1{
    margin: 0px;
}

.main{
    display: flex;
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
    background-color: #9DDEF5;
}

.card{
    width: 45%;
    height: 400px;
    border: 3px solid lightgrey;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #999;
}

.title{
    text-align: center;
}

.leftAndRightContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85%;
}

.left{
    width: 65%;
    height: 80%;
}

.card .info{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 50%;
    justify-content: space-around;
    margin-left: 20px;
}

.info .one{
    width: 290px;
}

.info .two{
    width: 345px;
}

.infoDiscount{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 45%;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px black inset, 0px 0px 25px white inset;
    margin-top: 30px;
}

.infoDiscount p{
    text-align: center;
    font-size: small;
    text-shadow: 0px 0px 5px white;
    margin: 0px;
    padding: 5px;
    font-size: smaller;
}

.right{
    width: 40%;
    height: 80%;
}

.buttonDiscount{
    position: relative;
    top: 160px;
    left: 30px;
    width: 100px;
    height: 100px;
    border: 1px solid #F5B6C6;
    background-color: #F5B6C6;
    box-shadow: 0px 0px 5px linen, 0px 2px 5px black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 300ms;
}

.buttonDiscount:hover{
    transform: scale(1.1);
}

.buttonDiscount p{
    margin: 0px;
    font-size: 9px;
    text-align: center;
    line-height: 20px;
}

.buttonCupon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 10px;
    left: 30px;
    width: 180px;
    height: 30px;
    border: 1px solid #A86C7B;
    border-radius: 20px;
    background-color: #A86C7B;
    box-shadow: 0px 0px 5px linen, 0px 2px 5px black;
    transition: all 300ms;
    cursor: pointer;
}

.buttonCupon:hover{
    transform: scale(1.1);
}

.buttonCupon p{
    margin: 0px;
    font-size: 9px;
    letter-spacing: 2px;
}

.showMessage{
    position: relative;
    bottom: 160px;
    left: 0px;
    width: 200px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #444;
}

.showMessage p{
    text-align: center;
    font-size: small;
    color: #c73edb;
}

footer{
    margin: 0px;
    text-align: center;
    background-color: #749BA8;
    height: 85px;
    line-height: 85px;
    border-top: 3px solid black;
}

footer h3{
    margin: 0px;
}

footer a{
    margin: 0px;
    text-decoration: none;
    color: #F5F2CE;
}

footer h3 a span{
    position: relative;
    left: 330px;
    transition: all 500ms;
}

footer h3 a:hover span{
    left: 0px;
}



