body {
    margin: 0px;
    font-family: 'Press Start 2P', cursive;
}

header {
    text-align: center;
    background-color: #749BA8;
    width: 100%;
    height: 70px;
    line-height: 70px;
    border-bottom: 3px solid black;
}

header h1 {
    width: 100%;
    margin: 0px;
}

.main {
    display: flex;
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
    background-color: #9DDEF5;
}

.card {
    width: 80%;
    height: 400px;
    border: 3px solid lightgrey;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #999;
}

.title {
    text-align: center;
}

.leftAndRightContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85%;
}

.left {
    width: 65%;
    height: 80%;
}

.card .info {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 50%;
    justify-content: space-around;
    margin-left: 20px;
}

.info .one {
    width: 87%;
}

.info .two {
    width: 87%;
}

.info .three {
    width: 87%;
}

.helpCupon {
    border-radius: 50%;
}

.infoDiscount {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 45%;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px black inset, 0px 0px 25px white inset;
    margin-top: 30px;
}

.infoDiscount p {
    text-align: center;
    font-size: small;
    text-shadow: 0px 0px 5px white;
    margin: 0px;
    padding: 30px;
    font-size: smaller;
}

.right {
    width: 40%;
    height: 80%;
}

.buttonDiscount {
    position: relative;
    top: 160px;
    left: 130px;
    width: 100px;
    height: 100px;
    border: 1px solid #F5B6C6;
    background-color: #F5B6C6;
    box-shadow: 0px 0px 5px linen, 0px 2px 5px black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 300ms;
}

.buttonDiscount:hover {
    transform: scale(1.1);
}

.buttonDiscount p {
    margin: 0px;
    font-size: 9px;
    text-align: center;
    line-height: 20px;
}

.buttonCupon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 10px;
    left: 130px;
    width: 180px;
    height: 30px;
    border: 1px solid #A86C7B;
    border-radius: 20px;
    background-color: #A86C7B;
    box-shadow: 0px 0px 5px linen, 0px 2px 5px black;
    transition: all 300ms;
    cursor: pointer;
}

.buttonCupon:hover {
    transform: scale(1.1);
}

.buttonCupon p {
    margin: 0px;
    font-size: 9px;
    letter-spacing: 2px;
}

.showMessage {
    position: relative;
    bottom: 160px;
    left: 120px;
    width: 200px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #444;
}

.showMessage p {
    text-align: center;
    font-size: small;
    color: #c73edb;
}

footer {
    margin: 0px;
    text-align: center;
    background-color: #749BA8;
    width: 100%;
    height: 85px;
    line-height: 85px;
    border-top: 3px solid black;
}

footer h3 {
    margin: 0px;
}

footer a {
    margin: 0px;
    text-decoration: none;
    color: #F5F2CE;
}

footer h3 a span {
    opacity: 0;
    transition: all 500ms;
}

footer h3 a:hover span {
    opacity: 1;
}

@media screen and (max-width:1200px) {
    header h1 {
        font-size: 1.7em;
    }
}

@media screen and (max-width:1115px) {
    .buttonDiscount {
        left: 100px;
    }
    .buttonCupon {
        left: 100px;
    }
    .showMessage {
        left: 90px;
    }
}

@media screen and (max-width:1024px) {
    header h1 {
        font-size: 1.4em;
    }
    .buttonDiscount {
        left: 80px;
    }
    .buttonCupon {
        left: 80px;
    }
    .showMessage {
        left: 60px;
    }
}

@media screen and (max-width:930px) {
    header h1 {
        font-size: 1.3em;
    }
    .buttonDiscount {
        left: 60px;
    }
    .buttonCupon {
        left: 60px;
    }
    .showMessage {
        left: 40px;
    }
    footer h3 {
        font-size: 1.1em;
    }
}

@media screen and (max-width:840px) {
    header h1 {
        font-size: 1.2em;
    }
    label {
        font-size: 0.9em;
    }
    .buttonDiscount {
        left: 35px;
    }
    .buttonCupon {
        left: 35px;
    }
    .showMessage {
        left: 25px;
    }
    footer h3 {
        font-size: 0.8em;
    }
}

@media screen and (max-width:768px) {
    header h1 {
        font-size: 1em;
    }
    .card {
        width: 95%;
    }
    .buttonDiscount {
        left: 30px;
    }
    .buttonCupon {
        left: 30px;
    }
    .showMessage {
        left: 25px;
    }
}

@media screen and (max-width:650px) {
    .buttonDiscount {
        left: 15px;
    }
    .buttonCupon {
        left: 15px;
    }
    .showMessage {
        left: 10px;
    }
    label {
        font-size: 0.7em;
    }
    .buttonDiscount p,
    .buttonCupon p {
        font-size: 0.5em;
    }
}

@media screen and (max-width:600px) {
    header h1 {
        font-size: 0.85em;
    }
    .leftAndRightContainer {
        flex-direction: column;
        gap: 10px;
    }
    .card {
        height: 90%;
    }
    .left {
        width: 80%;
    }
    .card .info {
        margin-top: 10px;
        gap: 5px;
    }
    .right {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 35px;
        margin-bottom: 15px;
        gap: 40px;
    }
    .buttonDiscount {
        font-size: 1.2em;
        padding: 7px;
        top: 0px;
    }
    .buttonCupon {
        padding: 10px;
        text-align: center;
        left: 0px;
        bottom: 0px;
    }
    .showMessage {
        left: 0px;
        bottom: 0px;
    }
    footer h3 {
        font-size: 0.7em;
    }
}

@media screen and (max-width:550px) {}